{% extends "main/layout.html" %}
{% block body %}

<div class="text-center">
  {% if inactivos or inactivos_responsable %}
  <a href="{% url 'perros:historial_perros' %}" class="btn btn-outline-secondary">Historial de perros</a><br> <hr>
  {% endif %}
  <input type="text" id="inputNombre" onkeyup="buscarPorNombre()" placeholder="Buscar por nombre.."><br><br>
    {% if perros %}
    <h3>Listado de perros registrados</h3><br>
    <table class="table-custom table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Raza</th>
            <th scope="col">Color</th>
            <th scope="col">Cliente</th>
          </tr>
        </thead>
        <tbody>
        {% for perro in perros %}
        <tr class="element">
          <th class="nombre"  scope="row">{{ perro.nombre }}</th>
          <td>{{ perro.raza }}</td>
          <td>{{ perro.color }}</td>
          <td>{{ perro.responsable.apellido }} {{ perro.responsable.nombre }}</td>
          <td><a href="{% url 'perros:info' id=perro.id %}" class="btn btn-sm btn-info">Ver perro</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
    <h3>No hay perros registrados</h3>
    {% endif %}
</div><br><br>


<script>

  function buscarPorNombre() {
    let input, filter, elements, tr, i, txtValue;
    input = document.getElementById('inputNombre');
    filter = input.value.toUpperCase();
    elements = document.getElementsByClassName('element');
    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < elements.length; i++) {
      apellidoTabla = elements[i].querySelector(".nombre");
      txtValue = apellidoTabla.textContent;
      if (txtValue.toUpperCase().startsWith(filter)) {
        elements[i].style.display = "";
      } else {
        elements[i].style.display = "none";
      }
    }
  }
  </script>
{% endblock %}