{% extends "main/layout.html" %}
{% block body %}
<div class="text-center">
    <a href="{% url 'perros:info' id=perro.id %}" class="btn-volver btn btn-outline-secondary">Volver al perfil</a><br><hr>
    <p class="display-6">Modificar datos del perro</p>
    <form method="POST" action="">
        {% csrf_token %}
        {% for error in form.nombre.errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div><br>
        {% endfor %}
        {{ form.nombre.label }}
        {{ form.nombre }}
        <br><br>
        {{ form.raza.label }}
        {{ form.raza }}
        <br><br>
        {{ form.color.label }}
        {{ form.color }}
        <br><br>
        {{ form.sexo.label }}
        {{ form.sexo }}
        <br><br>
        {{ form.castrado.label }}
        {{ form.castrado }}
        <br><br>
        {{ form.fecha_nacimiento.label }}
        {{form.fecha_nacimiento }}
        <br><br>
        {{ form.peso.label }}
        {{ form.peso }}
        <br><br>
        <input class="btn btn-primary" type="submit" name="Guardar Cambios" value="Guardar Cambios">
    </form>
</div><br><br>

{% endblock %}