{% extends "main/layout.html" %}
{% block body %}
<div class="text-center">
    <a href="{% url 'perros:info' id=perro.id %}" class="btn-sm btn btn-outline-secondary">Volver al perfil</a><br><hr>
    <p class="display-6">Agregar atención a {{ perro.nombre }}</p><br>
    <form class="form-custom" method="POST" action="">
        {% csrf_token %}
        {% for error in form.fecha.errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% for error in form.atencion.errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        {{ form.as_p }}
        <input class="btn omdnaranja btn-light" type="submit" name="Guardar" value="Guardar">
    </form>
</div><br><br>

{% endblock %}