{% extends "main/layout.html" %}
{% block body %}

<div class="text-center">
    {% if aceptada %}
    <h5>El contacto del cuidador/paseador fue enviado.</h5>
    {% endif %}
    {% if rechazada %}
    <h5>La solicitud fue rechazada y el solicitante fue notificado.</h5>
    {% endif %}
    {% if solicitudes %}
    <h3>Solicitudes de contacto de {{ cuidador.nombre_completo }} :</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
        {% for solicitud in solicitudes %}
        <tr>
            <td>{{ solicitud.nombre }}</td>
            <td>{{ solicitud.apellido }}</td>
            <td>{{ solicitud.email }}</td>
          <td><a href="{% url 'cuidadores:aceptar_solicitud' id=solicitud.id %}" class="btn btn-primary">Aceptar</a></td>
          <td><a href="{% url 'cuidadores:rechazar_solicitud' id=solicitud.id %}" class="btn btn-danger">Rechazar</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h3>No hay más solicitudes de contacto pendientes para {{ cuidador.nombre_completo }}</h3>
      {% endif %}
</div>

{% endblock %}