{% extends "main/layout.html" %}
{% block body %}
<div class="text-center">
    <a href="{% url 'cuidadores:index' %}" class="btn-sm btn btn-outline-secondary">Volver al Cuidadores/Paseadores</a><br><hr>
    <p class="display-6">Publicar cuidador/paseador</p><br>
    <form class="form-custom" method="POST" action="">
        {% csrf_token %}
        {% for error in form.contacto.errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        {{ form.nombre_completo.label }}
        {{ form.nombre_completo }}
        <br><br>
        {{ form.edad.label }}
        {{ form.edad }}
        <br><br>
        {{ form.horario_inicial.label }}
        {{ form.horario_inicial}}
        <br><br>
        {{ form.horario_final.label }}
        {{ form.horario_final}}
        <br><br>
        {{ form.experiencia.label }}
        {{ form.experiencia}}
        <br><br>
        {{ form.contacto.label }}
        {{ form.contacto}}
        <br><br>
        <input class="btn omdnaranja btn-light" type="submit" name="Publicar cuidador/paseador" value="Publicar cuidador/paseador">
    </form>
</div><br><br>

{% endblock %}