{% extends 'main/layout.html' %}
{% block body %}

<div class="text-center">
    {% if request.user.is_authenticated %}
    <a href="{% url 'adopcion:publicar' %}" class="btn btn-success">Publicar Perro para Adopción</a>
    <a href="{% url 'adopcion:mis_publicaciones' %}" class="btn btn-success">Mis Publicaciones</a>
    <br>
    <br>
    {% endif %}
    {% if publicaciones %}
    <h3>Listado de perros en adopción:</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Raza</th>
                <th scope="col">Color</th>
                <th scope="col">Edad</th>
                <th scope="col">Descripcion</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for publicacion in publicaciones %}
            <tr>
                <th scope="row">{{ publicacion.nombre }}</th>
                <td>{{ publicacion.raza }}</td>
                <td>{{ publicacion.color }}</td>
                <td>{{ publicacion.edad }}</td>
                <td>{{ publicacion.descripcion }} </td>
                {% if publicacion.adoptado %}
                    <td style="color:green;">¡Adoptado!</td>
                {% elif user.is_authenticated %}
                    <td><a href="{% url 'adopcion:info' id=publicacion.id %}" class="btn btn-secondary">Ver Informacion</a></td>
                {% endif %}
                {% if user.is_authenticated and user.is_staff or publicacion.publicador == user and user.is_authenticated %}
                    <td><a href="{% url 'adopcion:eliminar' id=publicacion.id %}" onclick="return confirm('Eliminar publicación?');" class="btn btn-danger">Eliminar publicación</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% else %}
    <h3>No hay perros publicados en adopción.</h3>
    {% endif %}
</div>
{% endblock %}