{% extends 'main/layout.html' %}
{% block body %}

<div class="text-center">
    <a href="{% url 'adopcion:index' %}" class="btn-sm btn btn-outline-secondary">Volver a Adopción</a><hr>
    {% if publicaciones %}
    <h4>Mis publicaciones de perros en adopción</h4> <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Color</th>
                <th scope="col">Raza</th>
                <th scope="col">Edad</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fecha de Publicacion</th>
                <th scope="col">Fecha de Adopción</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for publicacion in publicaciones %}
            <tr>
                <th scope="row">{{ publicacion.nombre }}</th>
                <td scope="row">{{ publicacion.color }}</td>
                <td scope="row">{{ publicacion.raza }}</td>
                <td scope="row">{{ publicacion.edad }}</td>
                <td scope="row">{{ publicacion.descripcion }} </td>
                <td>{{ publicacion.fecha_publicacion }} </td>
                {% if publicacion.fecha_adopcion == None %}
                    <td> - </td>
                {% else %}
                    <td>{{ publicacion.fecha_adopcion }} </td>
                {% endif %}
                <td scope="row"><a href="{% url 'adopcion:info' id=publicacion.id %}" class="btn btn-sm btn-info">Ver pnformación</a></td>
                {% if not publicacion.adoptado %}
                <td scope="row"><a href="{% url 'adopcion:marcar_adoptado' id=publicacion.id %}" class="btn btn-sm btn-outline-dark" onclick="return confirm('Marcar perro como adoptado? Esta acción no podrá deshacerse');">Marcar como Adoptado</a></td>
                <td scope="row"><a href="{% url 'adopcion:modificar' id=publicacion.id %}" class="btn btn-sm btn-secondary">Modificar publicación</a></td>
                <td><a href="{% url 'adopcion:eliminar' id=publicacion.id %}" onclick="return confirm('Eliminar publicación?');" class="btn btn-sm btn-danger">Eliminar publicación</a></td>
                {% else %}
                <td scope="row" style="color:green;">¡Adoptado!</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h3>No has publicado perros en adopción</h3>
    {% endif %}
</div>
{% endblock %}