{% extends 'main/layout.html' %}
{% block body %}
<div class="text-center">
    <a href="{% url 'adopcion:mis_publicaciones' %}" class="btn-volver btn btn-secondary">Volver a Mis publicaciones</a><br><hr>
    <p class="display-6">Modificar publicación de adopción</p> <br>
    <form method="POST" action="">
        {% csrf_token %}
        {% for error in form.nombre.errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        
        {{ form.nombre.label }}
        {{ form.nombre }}
        <br><br>
        {{ form.color.label }}
        {{ form.color }}
        <br><br>
        {{ form.raza.label }}
        {{ form.raza }}
        <br><br>
        {{ form.sexo.label }}
        {{ form.sexo }}
        <br><br>
        {{ form.edad.label }}
        {{ form.edad }}
        <br><br>
        {{ form.peso.label }}
        {{ form.peso }}
        <br><br>
        {{ form.altura.label }}
        {{ form.altura }}
        <br><br>
        {{ form.contacto.label }}
        {{ form.contacto }}
        <br><br>
        {{ form.historial_vacunacion.label }}
        {{ form.historial_vacunacion }}
        <br><br>
        {{ form.descripcion.label }}
        {{ form.descripcion }}
        <br><br>
        <input class="btn btn-primary" type="submit" name="Modificar publicacion" value="Modificar publicacion">
    </form>
</div> <br><br>
{% endblock %}