{% extends 'main/layout.html' %}
{% block body %}

<div class="text-center">
    {% if request.user.is_authenticated %}
        <a href="{% url 'busqueda:publicar' %}" class="btn btn-success">Publicar Perro Perdido</a>
        <a href="{% url 'busqueda:mis_publicaciones' %}" class="btn btn-success">Mis Publicaciones</a>
        <br>
        <br>
    {% endif %}
    {% if publicaciones %}
        <h3>Listado de perros perdidos:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Raza</th>
                    <th scope="col">Color</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Fecha de Publicacion</th>
                    <th scope="col">Fecha de Encuentro</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for publicacion in publicaciones %}
                <tr>
                    <th scope="row">{{ publicacion.nombre }}</th>
                    <td>{{ publicacion.raza }}</td>
                    <td>{{ publicacion.color }}</td>
                    <td>{{ publicacion.edad }}</td>
                    <td>{{ publicacion.descripcion }} </td>
                    <td>{{ publicacion.imagen }} </td>
                    <td>{{ publicacion.fecha_publicacion }} </td>
                    {% if publicacion.fecha_encontrado == None %}
                        <td> - </td>
                    {% else %}
                        <td>{{ publicacion.fecha_encontrado }} </td>
                    {% endif %}
                    {% if publicacion.encontrado %}
                        <td style="color:green;">¡Encontrado!</td>
                    {% elif user.is_authenticated %}
                        <td><a href="{% url 'busqueda:info' id=publicacion.id %}" class="btn btn-secondary">Ver Informacion</a> </td>
                    {% endif %}
                    {% if user.is_authenticated and user.is_staff or publicacion.publicador == user and user.is_authenticated %}
                        <td><a href="{% url 'busqueda:eliminar' id=publicacion.id %}"
                                onclick="return confirm('Eliminar publicación?');" class="btn btn-danger">Eliminar publicación</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No hay perros perdidos publicados.</h3>
    {% endif %}
</div>
{% endblock %}