{% extends "main/layout.html" %}

{% block body %}
    <div class="text-center">
        <a href="{% url 'busqueda:index' %}" class="btn btn-sm btn-outline-secondary">Volver a Perros Perdidos</a>
        <hr>
        {% if publicaciones %}
            <h3>Mis publicaciones de perros perdidos</h3><br>
            {% for publicacion in publicaciones %}
            <div class="container text-center ">
                <div class="row align-items-start col d-flex justify-content-center">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="card-text">
                                        <ul class="list-group" style="max-width: 50vw; margin: 0 auto">
                                            <div class="col">
                                                {% if publicacion.nombre == None %}
                                                <li class="list-group-item"><b>Nombre:</b> Desconocido </li>
                                                {% else %}
                                                <li class="list-group-item"><b>Nombre:</b> "{{ publicacion.nombre }}"</li>
                                                {% endif %}
                                                <li class="list-group-item"><b>Raza:</b> {{ publicacion.raza }}</li>
                                                <li class="list-group-item"><b>Color:</b> {{ publicacion.color }}</li>
                                                <li class="list-group-item"><b>Edad:</b> {{ publicacion.edad }}</li>
                                                <li class="list-group-item"><b>Descripcion:</b> {{ publicacion.descripcion }}</li>
                                                <li class="list-group-item"><b>Fecha de Publicación:</b> {{publicacion.fecha_publicacion }}</li>
                                                {% if not publicacion.perdido %}
                                                    <li class="list-group-item"><b>Fecha de Encuentro:</b> {{publicacion.fecha_encontrado }}</li>
                                                {% endif %}
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="/media/{{ publicacion.imagen }}" class="img-fluid rounded-start rounded-end" alt="imagen"
                                    style="margin-top: 15px;">
                                <br>
                                <div class="card d-flex justify-content-center" style="max-width: 75vw;">
                                    <div class="card-body text-center">
                                        {% if publicacion.perdido %}
                                        {% if publicacion.es_propio %}
                                        <h5 style="color:red;">Perdido</h5>
                                        {% else %}
                                        <h5 style="color:red;">Buscando a su dueño</h5>
                                        {% endif %}
                                        {% else %}
                                        <h6 class="list-group-item" style="color:green;">¡Ya en su hogar!</h6>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'busqueda:info' id=publicacion.id %}" class="btn btn-sm btn-info"style="max-width: 105px; margin: 5px; padding-bottom: 5px;">Ver Informacion</a>
                                <a href="{% url 'busqueda:eliminar' id=publicacion.id %}" onclick="return confirm('Eliminar publicación?');" class="btn btn-sm btn-danger" style="max-width: 105px; margin: 5px; padding-bottom: 5px;">Eliminar publicación</a>
                                {% if publicacion.perdido %}
                                    <a href="{% url 'busqueda:marcar_encontrado' id=publicacion.id %}" onclick="return confirm('Marcar como encontrado?');" class="btn btn-sm btn-outline-dark" style="max-width: 105px; margin: 5px; padding-bottom: 5px;">Marcar como encontrado</a>
                                    <a href="{% url 'busqueda:modificar' id=publicacion.id %}" class="btn btn-sm btn-secondary" style="max-width: 105px; margin: 5px; padding-bottom: 5px;">Modificar Publicacion</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h3>No has publicado perros perdidos.</h3>
        {% endif %}
    </div><br><br>
{% endblock %}