{% extends "main/layout.html" %}
{% block body %}
    <div class="text-center">
        <a href="{% url 'busqueda:index' %}" class="btn btn-sm btn-outline-secondary">Volver a Perros Perdidos</a>
        <hr>
        <p class="display-6">Publicar perro perdido</p><br> 
        <form class="form-custom" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div><br>
            {% endfor %}
            <br>
            <b>{{ form.nombre.label }}:</b>
            {{ form.nombre }}
            <br><br>
            <b>{{ form.color.label }}:</b>
            {{ form.color }}
            <br><br>
            <b>{{ form.raza.label }}:</b>
            {{ form.raza }}
            <br><br>
            <b>¿Es su perro?:</b> {{ form.es_propio }}
            <br>
            <b>{{ form.sexo.label }}:</b>
            {{ form.sexo }}
            <br><br>
            <b>{{ form.edad.label }}:</b>
            {{ form.edad }}
            <br><br>
            <b>{{ form.peso.label }}:</b>
            {{ form.peso }}
            <br><br>
            <b>{{ form.altura.label }}:</b>
            {{ form.altura }}
            <br><br>
            <b>{{ form.contacto.label }}:</b>
            {{ form.contacto }}
            <br><br>
            <b><label for="">Descripción</label></b>
            {{ form.descripcion }}
            <br><br>
            <b>{{ form.imagen.label }}</b>
            {{ form.imagen }}
            <img id="display-img" />
            <br><br>
            <input class="btn btn-secondary" type="submit" name="Publicar Perro" value="Publicar Perro">
        </form>
    </div>
{% endblock %}