{% extends "main/layout.html" %}
{% block body %}
    <div class="text-center" style="margin-bottom: 10px;">
        <a href="{% url 'busqueda:index' %}" class="btn btn-sm btn-outline-secondary">Volver a Perros Perdidos</a>
        <hr>
        <p class="display-6">Publicar perro perdido</p><br> 
        <form class="form-custom" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endfor %}
            <div class="border border-success-subtle rounded-2 text-success-emphasis bg-success-subtle" style="padding: 5px;">
                Si el perro no es suyo, no es necesario que ingrese un nombre.
            </div>
            <br>
            <b>{{ form.nombre.label }}:</b>
            {{ form.nombre }}
            <br><br>
            <b>{{ form.color.label }}:</b>
            {{ form.color }}
            <br><br>
            <b>{{ form.raza.label }}:</b>
            {{ form.raza }}
            <br><br>
            <b>¿Es su perro?:</b> {{ form.es_propio }}
            <br>
            <b>{{ form.sexo.label }}:</b>
            {{ form.sexo }}
            <br><br>
            <b>{{ form.edad.label }}:</b>
            {{ form.edad }}
            <br><br>
            <b>{{ form.zona.label }}:</b>
            {{ form.zona }}
            <br><br>
            <b>{{ form.direccion.label }}:</b>
            {{ form.direccion }}
            <br><br>
            <b>Telefono: </b>
            {{ form.contacto }}
            <br><br>
            <b><label for="">Descripción</label></b>
            {{ form.descripcion }}
            <br><hr>
            <b>Imagen:</b>
            <input type="file" name="imagen" accept="image" class="form-control" id="img-input" required="true">
            <div class="text-center">
                <img id="display-img" class="rounded" style="max-width: 20vw; margin-top: 10px;"/>
            </div>
            <hr><br>
            <input class="btn btn-info omdazul" type="submit" name="Publicar Perro" value="Publicar Perro">
        </form>
    </div>
    
<script>
    const imgInput = document.querySelector("#img-input")
    const displayImg = document.querySelector("#display-img")
    imgInput.addEventListener('change',
    (event)=>{
    const imgObject = event.target.files[0]
    displayImg.src = URL.createObjectURL(imgObject)})
</script>
{% endblock %}

