{% extends "main/layout.html" %}
{% block body %}
<div class="text-center">
    <form method="POST" action="">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endfor %}
        {{ form.email.label }}
        {{ form.email }}
        <br><br>
        {{ form.clave.label }}
        {{ form.clave }}
        <br><br>
        <input class="btn btn-primary" type="submit" name="Iniciar sesión" value="Iniciar sesión">
    </form>
</div>

{% endblock %}