{% extends "main/layout.html" %}
{% block body %}

<div class="text-center">
  <div class="text-center">
    {% if recupero %}
        <h5>El cliente fue recuperado correctamente.</h5>
    {% endif %}
    {% if clientes %}
    <h4>Historial de clientes eliminados</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">DNI</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
      </tr>
    </thead>
    <tbody>
    {% for cliente in clientes %}
    <tr>
      <th scope="row">{{ cliente.dni }}</th>
      <td>{{ cliente.nombre }}</td>
      <td>{{ cliente.apellido }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.telefono }}</td>
      <td><a href="{% url 'usuarios:recuperar_cliente' id=cliente.id %}" class="btn btn-primary">Recuperar cliente</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
    
  {% else %}
  <h5>No eliminó ningún cliente hasta ahora.</h5>
  {% endif %}
</div>

{% endblock %}