{% extends "main/layout.html" %}
{% block body %}
<div class="text-center">
    <h3>Registro de cliente</h3>
    <p>Ingrese los datos del nuevo cliente:</p>
    <form method="POST" action="">
        {% csrf_token %}
        {% for error in form.email.errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        <h6>e-mail:
        {{ email }}
        </h6>
        <br>
        {{ form.dni.label }}
        {{ form.dni }}
        <br><br>
        {{ form.nombre.label }}
        {{ form.nombre }}
        <br><br>
        {{ form.apellido.label }}
        {{ form.apellido }}
        <br><br>
        {{ form.telefono.label }}
        {{ form.telefono }}
        <br><br>
        {{ form.clave.label }}
        {{ form.clave }}
        <br><br>
        <input class="btn btn-secondary" type="submit" name="Modificar cliente" value="Modificar cliente">
    </form>
</div>

{% endblock %}