{% extends "main/layout.html" %}
{% block body %}
<div class="text-center">
    <a href="{% url 'main:index' %}" class="btn-sm btn btn-outline-secondary">Volver al inicio</a><br><hr>
    <p class="display-6">Registrar veterinario</p>
    <form class="form-custom" method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn omdnaranja btn-light" type="submit" name="Registrar veterinario" value="Registrar veterinario">
    </form>
</div><br><br>

{% endblock %}