{% extends "main/layout.html" %}
{% block body %}
<div class="text-center">
    {% for error in form.hora.errors %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endfor %}
    {% for error in form.fecha.errors %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endfor %}
    {% for error in form.motivo.errors %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endfor %}
    <h5>Turno para {{ perro.nombre }}</h5>
    {% if motivoSolicitado %}
    <h6>Asignación de turno solicitado previamente</h6>
    <h6>Debe elegir la fecha y la hora</h6>
    {% endif %}
    <form method="POST" action="">
        {% csrf_token %}
        {% csrf_token %}
        {{ form.fecha.label }}
        {{ form.fecha }}
        <br>
        <br>
        {{ form.hora.label }}
        {{ form.hora }}
        <br>
        <br>
        {{ form.motivo.label }}:
        {% if motivoSolicitado %}
        {{ motivoSolicitado }}<br><br>
        {{ form.detalles.label }}:
        {{ turno.detalles }} <br><br>
        {% else %}
        {{ form.motivo }}
        <br><br>
        {{ form.detalles.label }}
        {{ form.detalles }}<br><br>
        {% endif %}
        
        <input class="btn btn-secondary" type="submit" name="Confirmar" value="Confirmar">
    </form>

    {% if turnosAsignados %}
    <br><br>
    <h5>{{ perro.nombre }} ya tiene los siguientes turnos asignados:</h5>
    {% for turno in turnosAsignados %}
    <h6>{{ turno }}</h6>
    {% endfor %}
    {% endif %}
</div>


{% endblock %}