{% extends "main/layout.html" %}
{% block body %}
<div class="text-center">
    <a href="{% url 'turnos:index' %}" class="btn-sm btn btn-outline-secondary">Volver a Turnos</a><br><hr>
    {% if turnosPasados %}
    <h4>Turnos para confirmar asistencia:</h4>
    <table class="table-custom table">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Perro</th>
                <th scope="col">Motivo</th>
                <th scope="col">Cliente</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for turno in turnosPasados %}
        <tr>
            <th scope="row">{{ turno.fecha }}</th>
            <td>{{ turno.perro.nombre }}</td>
            <td>{{ turno.motivo }}</td>
            <td>{{ turno.perro.responsable.apellido }} {{ turno.perro.responsable.nombre }}</td>
            <td>
                <div class="btn-group" role="group">
                    <a href="{% url 'turnos:turno_asistio' id=turno.id %}" class="btn btn-info">Asistió</a>
                    <a href="{% url 'turnos:turno_no_asistio' id=turno.id %}" onclick="return confirm('El turno se eliminará');" class="btn btn-secondary">No asistió</a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h5>No hay turnos para confirmar asistencia.</h5>
    {% endif %}
</div><br><br>


{% endblock %}