{% extends "main/layout.html" %}
{% block body %}

<div class="text-center">
    {% if user.is_authenticated and not user.is_staff %}
    <a href="{% url 'turnos:elegir_perro'  %}" class="btn btn-success">Solicitar Turno</a>
    <a href="{% url 'turnos:mis_turnos'  %}" class="btn btn-success">Mis turnos</a>
    {% elif user.is_authenticated and user.is_staff%}
    <a href="{% url 'turnos:asignar_elegir'  %}" class="btn btn-success">Asignar Turno</a>
    <hr>
    {% if turnos_hoy %}
    <h3>Turnos de hoy</h3>
    <br>
    {% for turno in turnos_hoy %}
    <h6>{{turno}}</h6>
    {% endfor %}
    {% else %}
    <h3>No hay turnos para hoy</h3>
    {% endif %}
    {% endif %}
</div>

{% endblock %}