{% extends "main/layout.html" %}
{% block body %}
<div class="text-center">
    <a href="{% url 'turnos:index' %}" class="btn-sm btn btn-outline-secondary">Volver a Turnos</a><br><hr>
    {% if misTurnos %}
    <h3>Mis turnos: </h3><br>
    {% for turno in misTurnos %}
    <ul class="list-group" style="max-width: 50vw; margin: 0 auto">
        <li class="list-group-item active">{{ turno.fecha }}</li>
        <li class="list-group-item">Hora: {{ turno.hora }}</li>
        <li class="list-group-item">Perro: {{ turno.perro.nombre }}</li>
        <li class="list-group-item">Motivo: {{ turno.motivo }}</li>
        {% if turno.detalles %}
        <li class="list-group-item">Detalles: {{ turno.detalles }}</li>
        {% endif %}
        <li class="list-group-item"><a href="{% url 'turnos:mis_turnos_cancelar' id=turno.id %}" onclick="return confirm('Cancelar el turno?');" class="btn btn-danger">Cancelar turno</a></li>
    </ul>
    {% endfor %}
    {% else %}
    <h3>No tiene turnos asignados.</h3>
    {% endif %}
</div><br><br>

{% endblock %}